.container,
.button-calculate,
.container-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.type-operation h2,
.input-number label {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
}

.container-input {
  margin: 20px 0 0;
}

.input-number label {
  margin-bottom: 7px;
}

.input-number input {
  padding: 5px;
}

.input-number {
  margin-bottom: 20px;
}

.button-calculate {
  margin-bottom: 20px;
}

#btn-calculate {
  padding: 5px 20px;
  font-size: 16px;
}

#btn-calculate:hover {
  font-weight: bold;
}

#result-input {
  max-width: 191px;
  width: 100%;
  font-size: 16px;
}
